 name: Build Development Docker Images

 on:
   push:
     branches:
       - 'main'
   workflow_dispatch:

 jobs:
   build-docker-debian:
     runs-on: ubuntu-latest

     steps:
       - uses: actions/checkout@v2
       - name: Build the Development Docker image
         working-directory: ./DevelopContainer
         run: |
           docker build . --file Dockerfile --tag ikarusproject/ikarus-dev:latest
       - name: Docker Login
         uses: azure/docker-login@v1
         with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}
       - name: Publish the Docker image
         run: docker push ikarusproject/ikarus-dev:latest
         
       - name: Build the Installed Docker image
         working-directory: ./InstalledContainer
         run: docker build . --file Dockerfile --tag ikarusproject/ikarus:latest
       - name: Docker Login
         uses: azure/docker-login@v1
         with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}
       - name: Publish the Docker image
         run: docker push ikarusproject/ikarus:latest       

       - name: Build the GrassHopperServer images
         working-directory: ./GrassHopperServer
         run: docker build . --file Dockerfile --tag ikarusproject/ikarus-grasshopper:latest
       - name: Docker Login
         uses: azure/docker-login@v1
         with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}
       - name: Publish the Docker image
         run: docker push ikarusproject/ikarus-grasshopper:latest               
